<div id='sp-about'>
  <div class='sp-about-background'>
    <div class='sp-about-content'>
      <h1>About Chamisama Tea</h1>
      <div class=''>

        <div class='row'>
          <div class='col-md-6'>
            <%= image_tag('fuji.jpg', class: 'img-responsive fuji-pic') %>
          </div>
          <br />
          <div class='col-md-6'>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Our Tea</h3>
              </div>
              <div class="panel-body">
                We source our tea from local farmers in the city of Utsunomiya, the capital of Tochigi, Japan. For other location-specific tea (eg. Ujicha, Yamecha, etc.), we get it straight from famers in those respective areas. This guarantees that our tea is fresh because it hasn't been sitting on a shelf for months somewhere behind the Pikachu action figurines.
              </div>
            </div>
          </div>
        </div>

        <br />

        <div class='row'>
          <div class='col-md-8'>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Our Company</h3>
              </div>
              <div class="panel-body">
                We work hard to get you your tea on time. We staff only the most Japanese of workers, whose work ethic guarantees that you'll receive your shipment of tea three minutes before purchasing it. We'll also ship you instructions on how to brew your individual tea and cute Hello Kitty stickers.
              </div>
            </div>
          </div>
          <br />
          <div class='col-md-4'>
            <%= image_tag('office.jpg', class: 'img-responsive office-pic') %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
