<div id='sp-about'>
  <div class='sp-about-background'>
    <div class='sp-about-content'>
      <h1>About Chamisama Tea</h1>
      <div class=''>

        <div class='row'>
          <div class='col-md-6'>
            <%= image_tag('fuji.jpg', class: 'img-responsive fuji-pic') %>
          </div>
          <br />
          <div class='col-md-6'>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Our Tea</h3>
              </div>
              <div class="panel-body">
                We source our tea from local farmers in the city of Utsunomiya, the capital of Tochigi, Japan. For other location-specific tea (eg. Ujicha, Yamecha, etc.), we get it straight from famers in those respective areas. This guarantees that our tea is fresh because it hasn't been sitting on a shelf for months behind the Pikachu action figurines.
              </div>
            </div>
          </div>
        </div>

        <br />

        <div class='row'>
          <div class='col-md-8'>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Our Company</h3>
              </div>
              <div class="panel-body">
                We work hard to get you your tea on time. Our staff members take their jobs seriously, sometimes working up to 26 hours a day taking the utmost care so that your tea arrives in pristine condition. If you are unhappy with your purchase for any reason, let us know and we'll send out a staff member to profusely apologize ad nauseam. That's the "Chamisama Promise".
              </div>
            </div>
          </div>
          <br />
          <div class='col-md-4'>
            <%= image_tag('office.jpg', class: 'img-responsive office-pic') %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
