<div id='sp-index'>
  <div class='sp-index-background'>
    <div class='sp-index-content'>
      <h1>Welcome to Chamisama Tea!</h1>
      <h2>Your source for Japanese Tea</h2>

      <%= image_tag('cup.jpg', class: 'img-responsive image-catcup', alt: 'Cat shaped cup') %>

      <p>See all of our <%= link_to 'products', products_path %>, or use the search bar to enter the name of a tea you're looking for. You can also search for tea by its type: just click 'Tea Types' in the upper right hand corner.</p>

    </div>
  </div>
</div>
