<table>
  <tbody>
    <tr>
      <td><h2>Thanks!</h2></td>
    </tr>
    <tr>
      <td><p>Your <%= @price %> purchase has been received.</p></td>
      <td><p>Your <%= @product %>! should arrive shortly.</p></td>
    </tr>
    <tr>
      <td><p><strong>Your <%= @appname %> Team!</strong></p></td>
    </tr>
  </tbody>
</table>
