.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/raty.eot");
  src: url("./fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("./fonts/raty.svg#raty") format("svg");
  src: url("./fonts/raty.ttf") format("truetype");
  src: url("./fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/* line 11, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index .product-background h1 {
  color: black;
  text-align: center;
}
/* line 16, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index .product-background h4 {
  font-size: 2em;
}
/* line 20, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index .product-background .product-name {
  font-size: 3em;
  font-weight: bold;
}
/* line 25, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index .product-background .product-description {
  font-family: cursive;
  font-size: 1.3em;
}
/* line 30, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index .product-background .tea-image {
  height: 100px;
  background-color: black;
}
/* line 35, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index .product-background .tea-title {
  min-height: 63px;
}
/* line 41, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index hr {
  padding-top: 30px;
}
/* line 45, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index .product-index-product {
  text-decoration: none;
  color: black;
}
/* line 49, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index .product-thumbnail {
  transition: all 500ms;
  opacity: .85;
}
/* line 53, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index .product-thumbnail:hover {
  transform: translateY(-3px);
  opacity: 1;
}
/* line 58, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index .average-rating-indicator {
  margin-top: -30px;
}

/* line 69, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show {
  background-image: url("arashiyama.jpeg");
  background-size: cover;
  min-height: 1200px;
  padding-top: 50px;
}
/* line 71, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .product-name {
  color: black;
  font-size: 3em;
  font-weight: bold;
}
/* line 77, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .product-description {
  font-family: cursive;
  font-size: 2em;
}
/* line 87, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .product-show-page-background {
  background-color: white;
  opacity: .9;
  padding: 50px;
  border-radius: 30px;
  width: 90%;
  margin: auto;
}
/* line 96, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .product-show-page-background .product-show-image-side {
  margin: auto;
}
/* line 101, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .product-show-page-background .product-show-page-image {
  height: 300px;
}
/* line 106, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .product-show-page-background .product-show-info-side p {
  font-size: 2em;
}
/* line 111, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .product-show-page-background .product-show-info-side .comments p {
  font-family: cursive;
}
/* line 122, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .pagination .previous_page, #product-show .pagination .next_page {
  text-decoration: none;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
/* line 146, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .pagination .previous_page:hover, #product-show .pagination .next_page:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
/* line 151, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .pagination > em {
  font-size: 1.5em;
  color: black;
}
/* line 155, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .pagination > a {
  font-size: .9em;
  color: grey;
}
/* line 159, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .pagination > em, #product-show .pagination > a {
  margin-left: 10px;
}
@media screen and (max-width: 600px) {
  /* line 163, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
  #product-show .pagination .previous_page, #product-show .pagination .next_page {
    font-size: 12px;
    padding: 3px 6px;
  }
  /* line 167, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
  #product-show .pagination em, #product-show .pagination a {
    margin-left: 5px;
  }
  /* line 170, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
  #product-show .pagination em {
    font-size: 1.2em;
  }
  /* line 173, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
  #product-show .pagination a {
    font-size: .6em;
  }
}

/* line 187, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
.product-form {
  width: 50%;
  margin: auto;
}
/* line 6, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
body {
  padding-top: 50px;
}

/* line 10, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
.navbar {
  background-color: #f7f7f7;
  border-bottom-color: black;
  border-bottom-width: 2px;
  margin-bottom: 0px;
}

/* line 17, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#sign-in-or-out-button {
  margin-right: 10px;
  margin-left: 5px;
}

/* line 22, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
.nav > li > a {
  padding: 15px 10px;
}

/* line 26, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
.navbar-form {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 31, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#q {
  max-width: 130px;
}

/* line 40, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
.tea-pics {
  width: 30%;
  margin: auto;
}

/* line 50, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
.landing-page-alerts {
  width: 50%;
  margin: auto;
}

/* line 64, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#sp-about .sp-about-background .sp-about-content {
  text-align: center;
}

/* line 83, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#sp-index .sp-index-background .sp-index-content {
  width: 50%;
  margin: auto;
  text-align: center;
}
/* line 88, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#sp-index .sp-index-background .sp-index-content .image-catcup {
  margin: auto;
}

/* line 105, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
.three-desc-section h1 {
  text-align: center;
}
/* line 109, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
.three-desc-section p {
  text-align: justify;
}

/* line 115, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
.three-desc-pics {
  margin: auto;
}

/* line 124, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#thank-you-page {
  height: 1200px;
  background-image: url("arashiyama.jpg");
  background-size: cover;
}
/* line 128, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#thank-you-page .thank-you-message-box {
  width: 90%;
  background-color: white;
  margin: auto;
  position: relative;
  top: 20%;
  text-align: center;
  border-radius: 10px;
  min-height: 40px;
  opacity: .9;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 140, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#thank-you-page .thank-you-message-box p {
  font-size: 2em;
  line-height: 35px;
}

/* line 152, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#contact-page {
  background-image: url("arashiyama.jpeg");
  background-size: cover;
  min-height: 1200px;
  padding-top: 50px;
}
/* line 159, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#contact-page .contact-background {
  background-color: white;
  opacity: .9;
  padding: 50px;
  border-radius: 30px;
  width: 70%;
  margin: auto;
}
/* line 168, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#contact-page .contact-form {
  width: 90%;
  margin: auto;
}
/* line 173, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#contact-page .company-address {
  text-align: center;
}
/* line 177, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#contact-page .company-map {
  height: 300px;
}
@media screen and (max-width: 920px) {
  /* line 182, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
  #contact-page .contact-background {
    width: 95%;
  }
}
/* line 187, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#contact-page #map {
  height: 100%;
}

/* line 197, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 202, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
body {
  margin-bottom: 60px;
}

/* line 206, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f7f7f7;
}
/* line 213, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
.footer p {
  margin: 20px;
}
/* line 9, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/users.scss */
#authentication-pages {
  background-image: url("arashiyama.jpeg");
  background-size: cover;
  height: 1200px;
  padding: 50px;
}
/* line 16, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/users.scss */
#authentication-pages .authentication-pages-background {
  padding: 10px 30px;
  background-color: white;
  opacity: .9;
  width: 40%;
  margin: auto;
  border-radius: 10px;
}
/* line 25, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/users.scss */
#authentication-pages .authentication-pages-background .authentication-pages-content {
  width: 100%;
}
/* line 28, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/users.scss */
#authentication-pages .authentication-pages-background .authentication-pages-content h2 {
  text-align: center;
}
@media screen and (max-width: 1100px) {
  /* line 37, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/users.scss */
  #authentication-pages .authentication-pages-background {
    padding: 10px 30px;
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  /* line 44, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/users.scss */
  #authentication-pages .authentication-pages-background {
    padding: 10px 30px;
    width: 80%;
  }
}

/* line 58, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/users.scss */
.shared-links-buttons {
  line-height: 30px;
  padding-top: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

