/* line 7, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index h1 {
  color: black;
}
/* line 11, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index .product-name {
  font-size: 3em;
  font-weight: bold;
}
/* line 16, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index .product-description {
  font-family: cursive;
  font-size: 2em;
}
/* line 21, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-index .tea-image {
  height: 100px;
}

/* line 29, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .product-name {
  color: black;
  font-size: 3em;
  font-weight: bold;
}
/* line 35, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
#product-show .product-description {
  font-family: cursive;
  font-size: 2em;
}

/* line 42, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
.tea-pics {
  width: 50%;
  margin: auto;
}

/* line 49, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/products.scss */
.product-form {
  width: 50%;
  margin: auto;
}
/* line 1, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 6, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
body {
  padding-top: 50px;
}

/* line 10, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
.navbar {
  background-color: #f7f7f7;
  border-bottom-color: black;
  border-bottom-width: 2px;
}

/* line 16, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#sign-in-button {
  margin-right: 10px;
  margin-left: 15px;
}

/* line 22, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
.nav li {
  padding-right: 5px;
}

/* line 38, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#thank-you-page {
  height: 1200px;
  background-image: url("arashiyama.jpg");
  background-size: cover;
}
/* line 42, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#thank-you-page .thank-you-message-box {
  width: 90%;
  background-color: white;
  margin: auto;
  position: relative;
  top: 20%;
  text-align: center;
  border-radius: 10px;
  min-height: 40px;
  opacity: .9;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 54, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
#thank-you-page .thank-you-message-box p {
  font-size: 2em;
  line-height: 35px;
}

/* line 65, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 70, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
body {
  margin-bottom: 60px;
}

/* line 74, /Users/billhorst/Desktop/CFRuby/3.6/first/app/assets/stylesheets/simple_pages.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f7f7f7;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

