<div id='order-show'>
  <div class='order-show-page-background'>
    <div class='order-show-page-content container'>

      <h1 class='text-center'>
        <% if notice %>
        <p id="notice"><%= notice %></p>
        <% end %>
        <p>Order number: <%= @order.id %></p>
        <p><%= @product.name %></p>
        <%= link_to image_tag(@product.image_url, class: 'order-show-page-image'), @product %>
      </h1>

    </div>
  </div>
</div>
