// ORDERS
#order-index {

  .order-background {
    background-image: url('field.jpg');
    background-size: cover;
    min-height: 1200px;
    padding-top: 1px;
    margin-top: -5px;
  }

  .individual-orders {
    border: solid black 1px;
    background-color: white;
    opacity: .9;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    position: relative;
  }

  .individual-order-link {
    text-decoration: none;
    color: black;
  }

  .individual-orders:hover {
    top: -3px;
    left: -2px;
  }
}

#order-show {

  background-image: url('arashiyama.jpeg');
  background-size: cover;
  min-height: 1200px;
  padding-top: 50px;

  .order-show-page-background {
    background-color: white;
    opacity: .9;
    padding: 50px;
    border-radius: 30px;
    width: 90%;
    margin: auto;

    .order-show-page-content {
      width: 100%;
    }
  }

  .product-show-page-image {
    height: 300px;
    position: relative;
  }

  .order-show-page-image {
    position: relative;
  }

  .order-show-page-image:hover {
    top: -5px;
  }

}
// END ORDERS
