// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// PRODUCT INDEX PAGE

#product-index {

  .product-background {

    h1 {
      color: black;
      text-align: center;
    }

    h4 {
      font-size: 2em;
    }

    .product-name {
      font-size: 3em;
      font-weight: bold;
    }

    .product-description {
      font-family: cursive;
      font-size: 1.3em;
    }

    .tea-image {
      height: 100px;
    }

    .tea-title {
      min-height: 63px;
    }

  }

  hr {
    padding-top: 30px;
  }

}

// END PRODUCT INDEX PAGE


// PRODUCT SHOW PAGE

#product-show {

  .product-name {
    color: black;
    font-size: 3em;
    font-weight: bold;
  }

  .product-description {
    font-family: cursive;
    font-size: 2em;
  }

  background-image: url('arashiyama.jpeg');
  background-size: cover;
  min-height: 1200px;
  padding-top: 50px;

  .product-show-page-background {
    background-color: white;
    opacity: .9;
    padding: 50px;
    border-radius: 30px;
    width: 90%;
    margin: auto;


    .product-show-image-side {
      margin: auto;

    }

    .product-show-page-image {
      height: 300px;
    }

    .product-show-info-side {
      p {
        font-size: 2em;
      }

      .comments {
        p {
          font-family: cursive;
        }
      }

    }

  }

}

// END PRODUCT SHOW PAGE


// PRODUCT CREATE / EDIT FORM

.product-form {
  width: 50%;
  margin: auto;
}

// END PRODUCT CREATE / EDIT FORM
