// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// PRODUCT INDEX PAGE

#product-index {

  .col-md-4.col-sm-6 {
    padding-bottom: 8px;
  }

  .product-background {

    h1 {
      color: black;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 60px;
    }

    h4 {
      font-size: 2em;
    }

    .product-name {
      font-size: 3em;
      font-weight: bold;
    }

    .product-description {
      font-family: cursive;
      font-size: 1.3em;
      line-height: 1.2em;
    }

    .tea-image {
      height: 100px;
      background-color: black;
    }

    .tea-title {
      min-height: 63px;
    }

  }

  hr {
    padding-top: 30px;
  }

  .product-index-product {
    text-decoration: none;
    color: black;
  }
  .product-thumbnail {
    transition: all 250ms;
    opacity: .85;
    box-shadow: 1px 1px 1px black;
  }
  .product-thumbnail:hover {
    transform: translate(-1.5px, -3px);
    opacity: 1;
    box-shadow: 4px 4px 1px black;
  }

  .caption {
    min-height: 80px;
  }

  hr {
    margin-bottom: 5px;
  }

  @media screen and (max-width: 767px){
    .thumbnail-product-information {
      min-height: 110px;
    }
  }

  .average-rating-indicator {
    margin-top: -30px;
  }

  .price-div {
    height: 40px;
    margin-top: 10px;
    font-size: 1.5em;
  }

}

// END PRODUCT INDEX PAGE


// PRODUCT SHOW PAGE

#product-show {

  .product-name {
    color: black;
    font-size: 3em;
    font-weight: bold;
  }

  .product-description {
    font-family: cursive;
    font-size: 2em;
  }

  background-image: url('arashiyama.jpeg');
  background-size: cover;
  min-height: 1200px;
  padding-top: 50px;

  .product-show-page-background {
    background-color: white;
    opacity: .9;
    padding: 50px;
    border-radius: 30px;
    width: 90%;
    margin: auto;


    .product-show-image-side {
      margin: auto;

    }

    .product-show-page-image {
      height: 300px;
    }

    .product-show-info-side {
      p {
        font-size: 2em;
      }

      .comments {
        p {
          font-family: cursive;
        }
      }

    }

  }

  // PAGINATION SECTION **
  .pagination {
    .previous_page, .next_page {
      text-decoration: none;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }
    .previous_page:hover, .next_page:hover {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
    >em {
      font-size: 1.5em;
      color: black;
    }
    >a {
      font-size: .9em;
      color: grey;
    }
    >em,>a {
      margin-left: 10px;
    }
    @media screen and (max-width: 600px){
      .previous_page, .next_page {
        font-size: 12px;
        padding: 3px 6px;
      }
      em,a {
        margin-left: 5px;
      }
      em {
        font-size: 1.2em;
      }
      a {
        font-size: .6em;
      }
    }
  }
  // END PAGINATION SECTION **

}

// END PRODUCT SHOW PAGE


// PRODUCT CREATE / EDIT FORM

.product-form {
  width: 50%;
  margin: auto;
}

// END PRODUCT CREATE / EDIT FORM
