// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product-index {

  .product-background {

    h1 {
      color: black;
      text-align: center;
    }

    h4 {
      font-size: 2em;
    }

    .product-name {
      font-size: 3em;
      font-weight: bold;
    }

    .product-description {
      font-family: cursive;
      font-size: 1.3em;
    }

    .tea-image {
      height: 100px;
    }

    .tea-title {
      min-height: 63px;
    }

  }

  hr {
    padding-top: 30px;
  }

}

#product-show {

  .product-name {
    color: black;
    font-size: 3em;
    font-weight: bold;
  }

  .product-description {
    font-family: cursive;
    font-size: 2em;
  }

}

.tea-pics {
  width: 50%;
  margin: auto;
}

// PRODUCT CREATE / EDIT FORM

.product-form {
  width: 50%;
  margin: auto;
}

// END PRODUCT CREATE / EDIT FORM
