// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// NAVBAR SECTION
body { // To offset body for fixed navbar
  padding-top: 50px;
}

.navbar {
  background-color: #f7f7f7;
  border-bottom-color: black;
  border-bottom-width: 2px;
}

#sign-in-button {
  margin-right: 10px;
  margin-left: 15px;
}

.nav  {
  li {
    padding-right: 5px;
  }
}
// END NAVBAR SECTION


// MAIN
h1 {
  // color: red;
}
// END MAIN


// FOOTER
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; // *!*!keep same as height of .footer*!*!
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; // *!*!keep same as margin-bottom of body*!*!
  background-color: #f7f7f7;
}
// END FOOTER
