// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// DEVISE ********

// AUTHENTICATION PAGES

#authentication-pages {

  background-image: url('arashiyama.jpeg');
  background-size: cover;
  height: 1200px;
  padding: 50px;

  .authentication-pages-background {

    padding: 3px 30px 30px 30px;
    background-color: white;
    opacity: .9;
    width: 40%;
    margin: auto;
    border-radius: 10px;

    .authentication-pages-content {
      width: 100%;

      h2 {
        text-align: center;
      }

    }

  }

  @media screen and (max-width: 1100px){
    .authentication-pages-background {
      width: 50%;
    }
  }

  @media screen and (max-width: 750px){
    .authentication-pages-background {
      width: 80%;
    }
  }

  .field {
    margin-top: 30px;
  }

  .remember-me-checkbox > label {
    font-weight: normal;
  }

  .user-reg-change-back-button {
    margin-top: -44px;
    float: left;
  }

  .bottom-edit-nav {
    margin-top: 20px;
    text-align: right;
  }

  // ACCORDION ON LOGIN
  .panel-group {
    position: fixed;
    top: 55px;
    left: 5px;
  }

  .panel-heading {
    color: white;
    text-shadow: black 1px 1px 1px;
    background-color: orangered;
  }
  // END ACCORDION ON LOGIN

}
// END AUTHENTICATION PAGES


// **SHARED LINKS BUTTONS**
.shared-links-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}
.shared-links-buttons div{
  display: inline-block;
}
.forgot-password-link {
  float: right;
}
.forgot-password-sign-up-link {
  float: right;
}


// END DEVISE *********
